//用于定义全局的变量，如颜色，字体，尺寸等
$color-primary:#409eff;

$base-menu-width: 260px;
$base-menu-fold-width: 60px;

$base-menu-bg-color : #001529;

$base-menu-topbar-height: 40px;


$base-left-logo-height: 50px;
$base-left-font-size: 30px;

.wrapper{
    margin: 0 auto;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
}

